@model dynamic

<header class="static-page-header">
    <h1 class="static-page-title">@Html.TitleForPage(T("Challenge Email").ToString()) </h1>
    <p class="static-page-subtitle">@T("Your email address could not be validated.") </p>
</header>