@model dynamic

<header class="static-page-header">
    <h1 class="static-page-title">@Html.TitleForPage(T("Challenge Email Sent").ToString()) </h1>
    <p class="static-page-subtitle">@T("An email has been sent to you. Please click on the link it contains in order to have access on this site.") </p>
</header>