@model dynamic

<header class="static-page-header">
    <h1 class="static-page-title">@Html.TitleForPage(T("Change Password").ToString())</h1>
    <p class="static-page-subtitle">@T("Your password has been changed successfully.")</p>
</header>