//
// Black
// --------------------------------------------------
// All styling for the black colour scheme.
// --------------------------------------------------

//
// Site Header
// --------------------------------------------------

.site-header {
    background: #121310;
}

// Branding -----------------------------------------

#site-branding a {
	color: #f6f8ee;
	
	&:hover {
        color: #888;
	}
}

// Navigation toggle --------------------------------

// Nothing to change for this colour scheme.

// Navigation ---------------------------------------

// Nothing to change for this colour scheme.