@{    
    var messageType = Model.Type.ToString();
    var messageClass = "alert-warning";

    if (messageType == "Error") 
    {
        messageClass = "alert-danger";
    }
    else if (messageType == "Information") 
    {
        messageClass = "alert-info";
    }
}

<div class="alert alert-dismissible @messageClass" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />"))
</div>