<div class="theme-by col-md-6">@T("Orchard Theme by <a href=\"{0}\" target=\"_blank\">Ryan Drew Burnett</a>", "http://rdb.me")</div>

<div class="powered-by-orchard col-md-6">
    @T("Powered by <a href=\"{0}\" target=\"_blank\">DotNest</a>, the Orchard CMS SaaS fuelled by <a href=\"{0}\" target=\"_blank\">Lombiq</a>", "http://dotnest.com", "http://lombiq.com")
</div>