.site-header {
  background: #a0d8d5;
}
#site-branding {
  color: #232929;
}
#site-branding:hover {
  color: #557573;
}
#navigation-toggle {
  color: #232929;
  border-color: #232929;
}
#navigation-toggle:hover {
  border-color: #557573;
  color: #557573;
}
#navigation-toggle.open {
  color: #a0d8d5;
  background: #232929;
}
.zone-navigation a {
  color: #557573;
}
.zone-navigation a:hover,
.zone-navigation li.current > a {
  color: #232929;
}
@media (min-width: 992px) {
  .zone-navigation > nav > ul > li.dropdown > a:after {
    border-top-color: #557573;
  }
  .zone-navigation > nav > ul > li.dropdown:hover > a:after {
    border-top-color: #232929;
  }
}
