@model RDB.Bindery.Models.BinderyThemeSettingsPart

@{
    using (Script.Head()) 
    {
        <style>
            .rdb-settings {
                margin-bottom: 19px;
            }

            .rdb-settings label {
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 4px;
            }
        </style>    
    } 
}

<div class="rdb-settings">
    <label for="@Html.IdFor(x => x.SelectedColorScheme)">@T("Color Scheme")</label>
    @Html.DropDownListFor(x => x.SelectedColorScheme, Model.ColorSchemes)
</div>