body {
  direction: rtl;
  unicode-bidi: embed;
}
@media (min-width: 992px) {
  .zone-header {
    float: right;
  }
}
#site-branding {
  padding-left: 84px;
  padding-right: 0;
}
@media (min-width: 768px) {
  #site-branding {
    padding-left: 0;
  }
}
#navigation-toggle {
  right: 0;
  left: 15px;
}
@media (min-width: 768px) {
  #navigation-toggle {
    left: 60px;
    right: 0;
  }
}
@media (min-width: 992px) {
  .zone-navigation > nav {
    text-align: left;
  }
  .zone-navigation > nav > ul > li > a {
    margin-left: 18px;
    margin-right: 0;
  }
  .zone-navigation > nav > ul > li.last > a {
    margin-left: 0;
  }
}
.zone-navigation > nav > ul > li.dropdown > ul {
  margin-left: 0;
  margin-right: 35px;
}
@media (min-width: 992px) {
  .zone-navigation > nav > ul > li.dropdown > a:after {
    margin-left: 0;
    margin-right: 4px;
  }
  .zone-navigation > nav > ul > li.dropdown > ul {
    left: 0;
    right: -999999%;
    margin-right: 0;
    margin-right: -110px;
  }
  .zone-navigation > nav > ul > li.dropdown:hover > ul {
    left: 0;
    right: 50%;
  }
  .zone-navigation > nav > ul > li.dropdown > ul > li:first-child:before {
    left: 0;
    margin-left: 0;
    right: 50%;
    margin-right: -10px;
  }
}
.widget-tag-cloud ul {
  text-align: right;
  padding-right: 0;
}
.widget-recent-blog-posts .recent-blog-posts-list {
  padding-right: 0;
}
#content .widget-menu-widget ul,
#triples .widget-menu-widget ul,
#footer-twins .widget-menu-widget ul {
  padding-right: 0;
}
#content .widget-menu-widget ul ul li,
#triples .widget-menu-widget ul ul li,
#footer-twins .widget-menu-widget ul ul li {
  margin-left: 0 !important;
  margin-right: 16px;
}
.widget-blog-archives ul {
  padding-right: 0;
}
@media (min-width: 992px) {
  .zone-footer-twins-second {
    float: left !important;
  }
}
@media (min-width: 992px) {
  .copyright {
    float: right;
  }
  .user-actions {
    text-align: left;
  }
}
